{{block "layout" .}}
<!DOCTYPE html>
<html lang="en" class="font-sans">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{if .Page.Meta.title }}
  <title>{{.BaseTitle}} | {{ .Page.Meta.title }}</title>
  {{else}}
  <title>{{.BaseTitle}}</title>
  {{end}}

  <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
  <link rel="stylesheet" href="/public/tailwind.css">
  <script src="/public/htmx.min.js"></script>


</head>

<body id="body" class="bg-gradient-to-br from-slate-100 to-slate-300 min-h-screen">
  <header class="bg-slate-300">
    <h1 class="text-5xl text-center pb-5">
      <a href="/"> jst.dev</a>

      {{/* {{block "Color-Swap-Demo" .}}
      <div id="color-demo" class="smooth text-3xl duration-1000 transition-colors ease-linear font-extrabold"
        style="color:{{.}}" hx-get="/partials/Color-Swap-Demo" hx-swap="outerHTML" hx-trigger="every 1s">
        Color Swap Demo
      </div>
      {{end}} */}}
    </h1>
    <div class="bg-slate-500 w-screen py-2 shadow-inner">
      <nav hx-boost="true" class="flex flex-row justify-center max-w-screen-lg mx-auto">
        {{range $url, $name := .Nav}}
        <a class="bg-slate-300 text-slate-500 mr-2 last:mr-0 w-max px-8 text-center py-4 hover:shadow-lg hover:-translate-y-1 hover:bg-slate-500 hover:text-slate-300 transition-all"
          href="{{$url}}">{{$name}}</a>
        {{end}}
      </nav>
    </div>
  </header>

  {{block "Test-Form" .}}

  <form id="test-form" hx-post="/partials/Test-Form" hx-swap="outerHTML">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="email" placeholder="Email" />
    <input type="submit" value="Submit" class="cursor-pointer bg-white border-slate-500 p-1" />
  </form>
  {{end}} {{block "Test-Form-Response" .}}
  <div id="test-form-response" hx-get="/partials/Test-Form-Response"></div>
  {{end}}

  <article id="md-container"
    class="w-11/12 mx-auto my-10 min-h-full max-w-screen-lg transition-all duration-500 ease-in">
    {{.Page.Html}}
  </article>
</body>

</html>
{{end}}